body {
	height: 100vh;
}

.bg-dark {
	color: white;
}

.navbar {
	padding: 20px 0;
}

.input-group-text {
	border: none;
}

.input-group-text:hover {
	opacity: 0.5;
	cursor: pointer;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.uv-index-low {
	padding: 3px;
	background-color: green;
	border-radius: 3px;
	color: black;
}

.uv-index-moderate {
	padding: 3px;
	background-color: yellow;
	border-radius: 3px;
	color: black;
}

.uv-index-high {
	padding: 3px;
	background-color: orange;
	border-radius: 3px;
	color: black;
}

.uv-index-very-high {
	padding: 3px;
	background-color: red;
	border-radius: 3px;
	color: black;
}

.uv-index-extreme {
	padding: 3px;
	background-color: violet;
	border-radius: 3px;
	color: black;
}

ul .list-group-item {
	text-transform: capitalize;
	transition: all 0.2s;
}

ul .list-group-item:hover {
	cursor: pointer;
	background-color: gray;
	color: white;
}

i.today {
	margin: 10px auto;
	font-size: 60px;
}

.wi {
	margin: 10px auto;
	font-size: 1.5em;
}

.alert {
	display: none;
}